waslab04/WSLabService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSLabService"
    targetNamespace="http://localhost/WSLabService.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost/WSLabService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://localhost/schema">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://localhost/schema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
			
			<!-- ComplexType Definitions -->
           
            <complexType name="ArrayOfString">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType"
                            wsdl:arrayType="xsd:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            
            <complexType name="ConversionRequest">
                <sequence>
                    <element name="from_Currency" type="xsd:string"/>                    
                    <element name="to_Currencies" type="xsd1:ArrayOfString"/>
                    <element name="amount" type="xsd:double"/>
                </sequence>
            </complexType>
            
            <complexType name="ConversionResult">
                <sequence>                  
                    <element name="currency" type="xsd:string"/>
                    <element name="amount" type="xsd:double"/>
                </sequence>
            </complexType>
            
            <complexType name="ArrayOfConversionResults">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType"
                            wsdl:arrayType="xsd1:ConversionResult[]"/>
                    </restriction>
                </complexContent>
            </complexType>
			
         </schema>
    </types>
 
    <message name="FahrenheitToCelsiusRequest">
        <part name="fdegree" type="xsd:double"/>
    </message>
    <message name="FahrenheitToCelsiusResponse">
        <part name="cresult" type="xsd:double"/>
		<part name="timeStamp" type="xsd:date"/>
    </message>
    
    <message name="CurrencyConverterRequest">
        <part name="from_Currency" type="xsd:string"/>
        <part name="to_Currency" type="xsd:string"/>
        <part name="amount" type="xsd:double"/>
    </message>
    <message name="CurrencyConverterResponse">
        <part name="result" type="xsd:double"/>
    </message>
    
    <message name="CurrencyConverterPlusRequest">
        <part name="currencies" type="xsd1:ConversionRequest"/>
    </message>
    <message name="CurrencyConverterPlusResponse">
        <part name="result" type="xsd1:ArrayOfConversionResults"/>
    </message>
 
    <portType name="WSLab_PortType">
        <operation name="FahrenheitToCelsius">
            <input message="tns:FahrenheitToCelsiusRequest"/>
            <output message="tns:FahrenheitToCelsiusResponse"/>
        </operation>

        <operation name="CurrencyConverter">
            <input message="tns:CurrencyConverterRequest"/>
            <output message="tns:CurrencyConverterResponse"/>
        </operation>
        
        <operation name="CurrencyConverterPlus">
            <input message="tns:CurrencyConverterPlusRequest"/>
            <output message="tns:CurrencyConverterPlusResponse"/>
        </operation>
    </portType>
 
    <binding name="WSLab_Binding" type="tns:WSLab_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FahrenheitToCelsius">
            <soap:operation soapAction="FahrenheitToCelsius"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </output>
        </operation>
        
        <operation name="CurrencyConverter">
            <soap:operation soapAction="CurrencyConverter"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </output>
        </operation>
        
        <operation name="CurrencyConverterPlus">
            <soap:operation soapAction="CurrencyConverterPlus"/>
            <input>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </input>
            <output>
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:examples:wslabservice"
                    use="encoded"/>
            </output>
        </operation>
        
    </binding>
 
    <service name="WSLab_Service">
        <documentation>WSDL File for WSLabService</documentation>
        <port binding="tns:WSLab_Binding" name="WSLab_Port">
            <soap:address location="http://localhost:8080/waslab04/server_04.php"/>
        </port>
    </service>
</definitions>
